<h1>{{ title }}</h1>
<p>{{ message }}</p>


<ul>
  <li>
      <a href="/getCars">Get All the Minis</a>
  </li>
  <li>
      <a href="">get one! <i>* not functional yet</i></a>
  </li>
</ul>

<button id="F55" class="deleteRecord">Delete a row!</button>

<button id="F55" class="getButton">run AJAX</button>
<button id="F56" class="getButton">run AJAX</button>
<button id="R58" class="getButton">run AJAX</button>
